<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AdiumSetVersion</key>
    <integer>1</integer>
    <key>Emoticons</key>
    <dict>
        <key>aa.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:awesome:</string>
            </array>
            <key>Name</key>
            <string>awesome</string>
        </dict><key>ab.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:nya:</string>
            </array>
            <key>Name</key>
            <string>nya</string>
        </dict><key>ac.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:lol:</string>
            </array>
            <key>Name</key>
            <string>lol</string>
        </dict><key>ad.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:happy:</string>
            </array>
            <key>Name</key>
            <string>happy</string>
        </dict><key>ae.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:kawai:</string>
            </array>
            <key>Name</key>
            <string>kawai</string>
        </dict><key>af.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:smile:</string>
            </array>
            <key>Name</key>
            <string>smile</string>
        </dict><key>ag.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:wow:</string>
            </array>
            <key>Name</key>
            <string>wow</string>
        </dict><key>ah.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:dowant:</string>
            </array>
            <key>Name</key>
            <string>dowant</string>
        </dict><key>ai.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:hotet:</string>
            </array>
            <key>Name</key>
            <string>hotet</string>
        </dict><key>aj.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:joke:</string>
            </array>
            <key>Name</key>
            <string>joke</string>
        </dict><key>ak.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:ahaha:</string>
            </array>
            <key>Name</key>
            <string>ahaha</string>
        </dict><key>al.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:blink:</string>
            </array>
            <key>Name</key>
            <string>blink</string>
        </dict><key>am.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:troll:</string>
            </array>
            <key>Name</key>
            <string>troll</string>
        </dict><key>an.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:dovolen:</string>
            </array>
            <key>Name</key>
            <string>dovolen</string>
        </dict><key>ao.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:cry:</string>
            </array>
            <key>Name</key>
            <string>cry</string>
        </dict><key>ap.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:pichal:</string>
            </array>
            <key>Name</key>
            <string>pichal</string>
        </dict><key>aq.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:bugurt:</string>
            </array>
            <key>Name</key>
            <string>bugurt</string>
        </dict><key>ar.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:batut:</string>
            </array>
            <key>Name</key>
            <string>batut</string>
        </dict><key>as.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:sad:</string>
            </array>
            <key>Name</key>
            <string>sad</string>
        </dict><key>at.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:neokay:</string>
            </array>
            <key>Name</key>
            <string>neokay</string>
        </dict><key>au.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:butthurt:</string>
            </array>
            <key>Name</key>
            <string>butthurt</string>
        </dict><key>av.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:grusnota:</string>
            </array>
            <key>Name</key>
            <string>grusnota</string>
        </dict><key>aw.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:shocked:</string>
            </array>
            <key>Name</key>
            <string>shocked</string>
        </dict><key>ax.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:netort:</string>
            </array>
            <key>Name</key>
            <string>netort</string>
        </dict><key>ay.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:hurt:</string>
            </array>
            <key>Name</key>
            <string>hurt</string>
        </dict><key>az.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:bigfut:</string>
            </array>
            <key>Name</key>
            <string>bigfut</string>
        </dict><key>ba.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:wat:</string>
            </array>
            <key>Name</key>
            <string>wat</string>
        </dict><key>bb.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:baget:</string>
            </array>
            <key>Name</key>
            <string>baget</string>
        </dict><key>bc.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:yoba:</string>
            </array>
            <key>Name</key>
            <string>yoba</string>
        </dict><key>bd.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:nebrit:</string>
            </array>
            <key>Name</key>
            <string>nebrit</string>
        </dict><key>be.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:usach:</string>
            </array>
            <key>Name</key>
            <string>usach</string>
        </dict><key>bf.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:huesos:</string>
            </array>
            <key>Name</key>
            <string>huesos</string>
        </dict><key>bg.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:laffki:</string>
            </array>
            <key>Name</key>
            <string>laffki</string>
        </dict><key>bh.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:sexy:</string>
            </array>
            <key>Name</key>
            <string>sexy</string>
        </dict><key>bi.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:perekat:</string>
            </array>
            <key>Name</key>
            <string>perekat</string>
        </dict><key>bj.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:angry:</string>
            </array>
            <key>Name</key>
            <string>angry</string>
        </dict><key>bk.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:sleep:</string>
            </array>
            <key>Name</key>
            <string>sleep</string>
        </dict><key>bl.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:slownya:</string>
            </array>
            <key>Name</key>
            <string>slownya</string>
        </dict><key>bm.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:shy:</string>
            </array>
            <key>Name</key>
            <string>shy</string>
        </dict><key>bn.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:ilita:</string>
            </array>
            <key>Name</key>
            <string>ilita</string>
        </dict><key>bo.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:batman:</string>
            </array>
            <key>Name</key>
            <string>batman</string>
        </dict><key>bp.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:krovkishki:</string>
            </array>
            <key>Name</key>
            <string>krovkishki</string>
        </dict><key>bq.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:xynta:</string>
            </array>
            <key>Name</key>
            <string>xynta</string>
        </dict><key>br.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:vagan:</string>
            </array>
            <key>Name</key>
            <string>vagan</string>
        </dict><key>bs.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:sarcasm:</string>
            </array>
            <key>Name</key>
            <string>sarcasm</string>
        </dict><key>bt.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:infa:</string>
            </array>
            <key>Name</key>
            <string>infa</string>
        </dict><key>bu.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:alfa:</string>
            </array>
            <key>Name</key>
            <string>alfa</string>
        </dict><key>bv.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:plan:</string>
            </array>
            <key>Name</key>
            <string>plan</string>
        </dict><key>bw.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:nariman:</string>
            </array>
            <key>Name</key>
            <string>nariman</string>
        </dict><key>bx.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:serious:</string>
            </array>
            <key>Name</key>
            <string>serious</string>
        </dict><key>by.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:lold:</string>
            </array>
            <key>Name</key>
            <string>lold</string>
        </dict><key>bz.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:bbpe:</string>
            </array>
            <key>Name</key>
            <string>bbpe</string>
        </dict><key>ca.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:keanu:</string>
            </array>
            <key>Name</key>
            <string>keanu</string>
        </dict><key>cb.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:ben:</string>
            </array>
            <key>Name</key>
            <string>ben</string>
        </dict><key>cc.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:piston:</string>
            </array>
            <key>Name</key>
            <string>piston</string>
        </dict><key>cd.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:ohu:</string>
            </array>
            <key>Name</key>
            <string>ohu</string>
        </dict><key>ce.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:lolwto:</string>
            </array>
            <key>Name</key>
            <string>lolwto</string>
        </dict><key>cf.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:vanga:</string>
            </array>
            <key>Name</key>
            <string>vanga</string>
        </dict><key>cg.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:facepalm:</string>
            </array>
            <key>Name</key>
            <string>facepalm</string>
        </dict><key>ch.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:advise:</string>
            </array>
            <key>Name</key>
            <string>advise</string>
        </dict><key>ci.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:anon:</string>
            </array>
            <key>Name</key>
            <string>anon</string>
        </dict><key>cj.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:doit:</string>
            </array>
            <key>Name</key>
            <string>doit</string>
        </dict><key>ck.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:moar:</string>
            </array>
            <key>Name</key>
            <string>moar</string>
        </dict><key>cl.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:fffuuu:</string>
            </array>
            <key>Name</key>
            <string>fffuuu</string>
        </dict><key>cm.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:coolface:</string>
            </array>
            <key>Name</key>
            <string>coolface</string>
        </dict><key>cn.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:trollface:</string>
            </array>
            <key>Name</key>
            <string>trollface</string>
        </dict><key>co.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:haha:</string>
            </array>
            <key>Name</key>
            <string>haha</string>
        </dict><key>cp.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:eat:</string>
            </array>
            <key>Name</key>
            <string>eat</string>
        </dict><key>cq.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:rage:</string>
            </array>
            <key>Name</key>
            <string>rage</string>
        </dict><key>cr.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:ohshi:</string>
            </array>
            <key>Name</key>
            <string>ohshi</string>
        </dict><key>cs.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:okay:</string>
            </array>
            <key>Name</key>
            <string>okay</string>
        </dict><key>ct.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:alone:</string>
            </array>
            <key>Name</key>
            <string>alone</string>
        </dict><key>cu.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:yeah:</string>
            </array>
            <key>Name</key>
            <string>yeah</string>
        </dict><key>cv.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:gtfo:</string>
            </array>
            <key>Name</key>
            <string>gtfo</string>
        </dict><key>cw.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:eyes:</string>
            </array>
            <key>Name</key>
            <string>eyes</string>
        </dict><key>cwa.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:pokerface:</string>
            </array>
            <key>Name</key>
            <string>pokerface</string>
        </dict><key>cwb.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:iamgirl:</string>
            </array>
            <key>Name</key>
            <string>iamgirl</string>
        </dict><key>cwc.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:fireball:</string>
            </array>
            <key>Name</key>
            <string>fireball</string>
        </dict><key>cwd.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:lesli:</string>
            </array>
            <key>Name</key>
            <string>lesli</string>
        </dict><key>cwe.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:azis:</string>
            </array>
            <key>Name</key>
            <string>azis</string>
        </dict><key>cx.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:shito:</string>
            </array>
            <key>Name</key>
            <string>shito</string>
        </dict><key>cy.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:slowpoke:</string>
            </array>
            <key>Name</key>
            <string>slowpoke</string>
        </dict><key>cz.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:slow:</string>
            </array>
            <key>Name</key>
            <string>slow</string>
        </dict><key>da.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:pedo:</string>
            </array>
            <key>Name</key>
            <string>pedo</string>
        </dict><key>db.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:cancer:</string>
            </array>
            <key>Name</key>
            <string>cancer</string>
        </dict><key>dc.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:omsk:</string>
            </array>
            <key>Name</key>
            <string>omsk</string>
        </dict><key>dd.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:ato:</string>
            </array>
            <key>Name</key>
            <string>ato</string>
        </dict><key>de.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:petr:</string>
            </array>
            <key>Name</key>
            <string>petr</string>
        </dict><key>df.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:batya:</string>
            </array>
            <key>Name</key>
            <string>batya</string>
        </dict><key>dg.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:notrec:</string>
            </array>
            <key>Name</key>
            <string>notrec</string>
        </dict><key>dh.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:brofist:</string>
            </array>
            <key>Name</key>
            <string>brofist</string>
        </dict><key>di.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:oil:</string>
            </array>
            <key>Name</key>
            <string>oil</string>
        </dict><key>sal.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:salo:</string>
            </array>
            <key>Name</key>
            <string>salo</string>
        </dict><key>dj.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:tehdrama:</string>
            </array>
            <key>Name</key>
            <string>tehdrama</string>
        </dict><key>dk.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:sguxa:</string>
            </array>
            <key>Name</key>
            <string>sguxa</string>
        </dict><key>dl.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:nou:</string>
            </array>
            <key>Name</key>
            <string>nou</string>
        </dict><key>dm.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:shit:</string>
            </array>
            <key>Name</key>
            <string>shit</string>
        </dict><key>dn.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:partywan:</string>
            </array>
            <key>Name</key>
            <string>partywan</string>
        </dict><key>do.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:winrar:</string>
            </array>
            <key>Name</key>
            <string>winrar</string>
        </dict><key>dp.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:orly:</string>
            </array>
            <key>Name</key>
            <string>orly</string>
        </dict><key>dq.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:nazi:</string>
            </array>
            <key>Name</key>
            <string>nazi</string>
        </dict><key>dr.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:trifors:</string>
            </array>
            <key>Name</key>
            <string>trifors</string>
        </dict><key>ds.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:boom:</string>
            </array>
            <key>Name</key>
            <string>boom</string>
        </dict><key>dt.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:bemale:</string>
            </array>
            <key>Name</key>
            <string>bemale</string>
        </dict><key>du.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:jew:</string>
            </array>
            <key>Name</key>
            <string>jew</string>
        </dict><key>dv.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:frai:</string>
            </array>
            <key>Name</key>
            <string>frai</string>
        </dict><key>dw.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:huiprostoi:</string>
            </array>
            <key>Name</key>
            <string>huiprostoi</string>
        </dict><key>dx.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:cuntfox:</string>
            </array>
            <key>Name</key>
            <string>cuntfox</string>
        </dict><key>fe.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:1402:</string>
            </array>
            <key>Name</key>
            <string>1402</string>
        </dict><key>ff.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:2302:</string>
            </array>
            <key>Name</key>
            <string>2302</string>
        </dict><key>dy.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:pled:</string>
            </array>
            <key>Name</key>
            <string>pled</string>
        </dict><key>dz.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:bricks:</string>
            </array>
            <key>Name</key>
            <string>bricks</string>
        </dict><key>ea.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:hanyu:</string>
            </array>
            <key>Name</key>
            <string>hanyu</string>
        </dict><key>eb.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:horo:</string>
            </array>
            <key>Name</key>
            <string>horo</string>
        </dict><key>ola.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:olablad:</string>
            </array>
            <key>Name</key>
            <string>olablad</string>
        </dict><key>desu.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:kukloeb:</string>
            </array>
            <key>Name</key>
            <string>kukloeb</string>
        </dict><key>ec.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:abu:</string>
            </array>
            <key>Name</key>
            <string>abu</string>
        </dict><key>fh.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:mizore:</string>
            </array>
            <key>Name</key>
            <string>mizore</string>
        </dict><key>fo.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:sparta:</string>
            </array>
            <key>Name</key>
            <string>sparta</string>
        </dict><key>ew.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:alice:</string>
            </array>
            <key>Name</key>
            <string>alice</string>
        </dict><key>ev.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:marisa:</string>
            </array>
            <key>Name</key>
            <string>marisa</string>
        </dict><key>ed.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:chirno:</string>
            </array>
            <key>Name</key>
            <string>chirno</string>
        </dict><key>ee.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:orin:</string>
            </array>
            <key>Name</key>
            <string>orin</string>
        </dict><key>em.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:chen:</string>
            </array>
            <key>Name</key>
            <string>chen</string>
        </dict><key>ef.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:miku:</string>
            </array>
            <key>Name</key>
            <string>miku</string>
        </dict><key>eg.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:desu:</string>
            </array>
            <key>Name</key>
            <string>desu</string>
        </dict><key>fj.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:ponya:</string>
            </array>
            <key>Name</key>
            <string>ponya</string>
        </dict><key>ei.gif</key>
        <dict>
            <key>Equivalents</key>
            <array>
                <string>:seasnail:</string>
            </array>
            <key>Name</key>
            <string>seasnail</string>
        </dict>
    </dict>
</dict>
</plist>
